<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .to_middle{
            padding-left: 40%;
        }
        .BlueBackground{
            background-color:cadetblue;
        }
    </style>
</head>
<body>
    <h1 class = 'to_middle'>Create poll</h1>
    {% for message in messages %}
    <h2 style = 'color:red;'>{{message}}</h2>
    {% endfor %}
    <form method = "POST" action = 'add/'>
        {% csrf_token %}
        <div class = 'BlueBackground'>
            <label>Poll Name</label>
            <p><input type = 'text' name = 'name' blank = True></p>
            <label>Question</label>
            <p><input type = 'text' name = 'question'></p>
            <p><input type="submit" name = 'submit'></p>
        </div>
    </form>

    <p>------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

    <h2>表單預覽</h2>

    <div>
        <form method='POST' action = '#'>
            {% for poll in polls %}
                <p>
                <label>{{poll.questions}}</label>
                </p>
                <input type = 'textarea' name = "{{poll.questions}}">
            {% endfor %}
            <p>
               <input type = 'submit' name='submit'> 
            </p>

        </form>
    </div>
    <script>
        console.log('hello world');
    </script>
</body>
</html>