<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style = 'font-style: bold;'>{{poll_name}}</h1>
    <form method="POST" action = '/polling/{{owner}}/commit/'>
    {% csrf_token %}
    {% for quest in questNames%}
    
    <p><label>{{quest}}</label></p>
    <p><input type = 'text' name='{{quest}}'></p>
    
    {% endfor %}
    <input type = 'hidden' name = 'poll_name' value = '{{poll_name}}'>
    <input type="submit" name = 'submit'>
    </form>
</body>
</html>